.inputField {
    padding: 5px;
    margin-top: 7px;
    border: 1px black solid;
    border-radius: 10px;
    font-size: 20px;
}

.inputField:enabled {
    background-image: linear-gradient(to right, #997922 10%, #86f03f  70%);
    color: whitesmoke;
}

.inputField:enabled::placeholder {
    color: whitesmoke;
}

.inputField:disabled {
    background-color: gainsboro;
}

.inputField:disabled::placeholder {
    color: gray;
}
